.greeting {
    margin-bottom: 0;
    padding-left:40px;
    padding-top: 40px;
}

.user {
    padding-left: 40px;
}

.backgnd {
    background: linear-gradient(rgb(42, 42, 42),transparent);
}

.carousel {
    display: block;
    padding: 40px; 
}

.wrap {
    white-space: normal;
}

.side {
    display: flex;
    flex-direction: row;
}